<footer class="footer">
  <section class="footer__wrapper">
    <article class="footer__contact-details">
      <app-contact-details name="GROOM CONTACT:" phoneNumber="(661) 877-6453" email="TRENTTEE1020@GMAIL.COM" facebook="HTTPS://WWW.FACEBOOK.COM/TRENT.TEEBKEN" instagram="HTTPS://WWW.INSTAGRAM.COM/TRENT_GOES_TRAVELING/"></app-contact-details>
      <app-contact-details name="BRIDE CONTACT:" phoneNumber="(661) 600-5717" email="RACH.SEVILLA@GMAIL.COM" facebook="HTTPS://WWW.FACEBOOK.COM/PROFILE.PHP?ID=720960172" instagram="HTTPS://WWW.INSTAGRAM.COM/BLARBLARBLARH/"></app-contact-details>
      <div class="footer__design-built">&copy;DESIGNED AND BUILT BY US</div>
    </article>
    <article class="footer__multi-images">
      <div class="footer__images-wrapper">
        <figure class="footer__image-wrap footer__images--fuji">
          <figcaption class ="footer--show-text footer__image-text" >MT. FUJI, JAPAN</figcaption>
          <img src="/assets/images/Mt-Fuji-Pic.png"class="footer__image" width="250">
        </figure>
        <figure class="footer__image-wrap footer__images--oahu">
          <figcaption class ="footer--show-text footer__image-text" >OAHU, HI</figcaption>
          <img src="/assets/images/Hawaii-Pic.png"class="footer__image" width="220">
        </figure>
        <figure class="footer__image-wrap footer__images--mx">
          <img src="/assets/images/Cozumel-Pic.png"class="footer__image" width="180">
          <figcaption class ="footer--show-text footer__image-text" >COZUMEL, MX</figcaption>
        </figure>
      </div>
    </article>
  </section>
</footer>
