<footer class="footer">
  <section class="footer__wrapper">
    <article class="footer__contact-details">
      <app-contact-details 
        name="BRIDE OR GROOM" 
        phoneNumber="(661) 877-6453" 
        email="TRENTTEE1020@GMAIL.COM"
        facebook="HTTPS://WWW.FACEBOOK.COM/TRENT.TEEBKEN"
        instagram="HTTPS://WWW.INSTAGRAM.COM/TRENT_GOES_TRAVELING/"></app-contact-details>
      <app-contact-details 
        name="BRIDE OR GROOM" 
        phonenumber="(661) 877-6453" 
        email="TRENTTEE1020@GMAIL.COM"
        facebook="HTTPS://WWW.FACEBOOK.COM/PROFILE.PHP?ID=720960172"
        instagram="HTTPS://WWW.INSTAGRAM.COM/BLARBLARBLARH/"></app-contact-details>
    </article>
  </section>
</footer>