<footer class="footer">
  <section class="footer__wrapper">
    <article class="footer__contact-details">
      <app-contact-details name="GROOM CONTACT:" phoneNumber="(661) 877-6453" email="&#084;&#082;&#069;&#078;&#084;&#069;&#069;&#049;&#048;&#050;&#048;&#064;&#071;&#077;&#065;&#073;&#076;&#046;&#067;&#079;&#077;" facebook="https://www.facebook.com/trent.teebken" instagram="HTTPS://WWW.INSTAGRAM.COM/TRENT_GOES_TRAVELING/"></app-contact-details>
      <app-contact-details name="BRIDE CONTACT:" phoneNumber="(661) 600-5717" email="&#082;&#065;&#067;&#072;&#046;&#083;&#069;&#086;&#073;&#076;&#076;&#065;&#064;&#071;&#077;&#065;&#073;&#076;&#046;&#067;&#079;&#077;" facebook="https://www.facebook.com/people/Rachel-Sevilla/720960172" instagram="HTTPS://WWW.INSTAGRAM.COM/BLARBLARBLARH/"></app-contact-details>
      <div class="footer__design-built">&copy;DESIGNED AND BUILT BY US</div>
    </article>
    <article class="footer__multi-images">
      <app-footer-image></app-footer-image>
    </article>
  </section>
</footer>
