<section class="wedding-details">
  <app-addresses name="Ceremony & reception" location="ebell long beach" address="290 Cerritos Ave," cityStateZip="Long Beach, CA 90802"></app-addresses>
  <app-addresses name="Parking" location="seventh-day adventist church" address="1001 E 3rd St," cityStateZip="Long Beach, CA 90802"></app-addresses>
  <article class="wedding-details__information">
    <h2 class="wedding-details__header">GUEST INFOMATION</h2>
    <div class="wedding-details___dress-code">SEMI-FORMAL ATTIRE</div>
    <p class="wedding-details__children">Children: Due to space constraints, we will be unable to accompany children under the age of seventeen for both the ceremony and reception.</p>
  </article>
  <article class="wedding-details__hashtag">PLEASE SHARE OUR LOVE:<BR/>#ATLASTWITHTEEBKEN</article>
</section>
