<section id="registry" class="registry" #registry>
  <h2 (click)="showRegistry(registry)" class="registry__header">GIFT REGISTRY</h2>
  <p class="registry__text">What we want most for our wedding is to have our friends and family there to celebrate the occasion with us. So more than anything we’re simply grateful for your presence. If you would like to get us something, we’d love that too...you can find our registry below.</p>
  <article class="registry__link">
    <a target="_blank" href="https://www.myregistry.com/wedding-registry/Rachel-Sevilla-and-Trent-Teebken-Los-Angeles-CA/1837108">
      <img class="registry__img" src="/assets/images/myregistry-logo.png" alt="my resgistry logo">
    </a>
  </article>
</section>