.countdown {
  color: black;
  background: #bdc3b7;
  height: 200px;
  width: 100%;
}
.countdown__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  height: 100%;
  max-width: 500px;
  margin: auto;
}
.countdown__time {
  font-family: 'LOVES';
  letter-spacing: -6px;
  font-size: 60px;
}
.countdown__unit {
  font-size: 20px;
}
.countdown__time-wrapper {
  align-self: center;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .countdown__time {
    font-size: 80px;
  }
  .countdown__unit {
    font-size: 26px;
  }
}