<section class="countdown">
  <div class="countdown__wrapper">
    <article class="countdown__time-wrapper">
      <div id="countdown__days" class="countdown__time">99</div>
      <div class="countdown__unit">days</div>
    </article>
    <article class="countdown__time-wrapper">
      <div id="countdown__hours" class="countdown__time">99</div>
      <div class="countdown__unit">hours</div>
    </article>
    <article class="countdown__time-wrapper">
      <div id="countdown__minutes" class="countdown__time">99</div>
      <div class="countdown__unit">minutes</div>
    </article>
    <article class="countdown__time-wrapper">
      <div id="countdown__seconds" class="countdown__time">99</div>
      <div class="countdown__unit">seconds</div>
    </article>
  </div>
</section>