<article class="footer__contact-details contact-details">
  <div class="contact-details__name">{{ name }}</div>
  <div class="contact-details__phone-number">{{ phoneNumber }}</div>
  <div class="contact-details__email">{{ email }}</div>
  <div class="contact-details__social-media">
    <a href="{{ facebook }}" class="contact-details__social-media-link">
      <img src="" alt="">
    </a>
    <a href="{{ instagram }}" class="contact-details__social-media-link">
      <img src="" alt="">
    </a>
  </div>
</article>