.contact-details {
  font-size: 15px;
  line-height: 15px;
  padding: 0 0 45px;
  letter-spacing: 1px;
}

.contact-details__social-media-link {
  color: white;
  padding-right: 5px;
  text-decoration: none;
}

.contact-details__social-media {
  padding-top: 10px;
}

.contact-details__icon {
  font-size: 23px;
}

@media screen and (min-width: 769px) {
  .contact-details {
    font-size: 15px;
    line-height: 15px;
    padding: 0 0 30px;
  }
}

@media screen and (min-width: 960px) {
  .contact-details {
    font-size: 17px;
    line-height: 22px;
    padding: 0 0 50px;
  }
}