.stories {
  padding: 0 0 100px;
  position: relative;
}
  
.stories__header {
  text-transform: uppercase;
  font-family: 'LOVES';
  color: #353434;
  font-size: 33px;
  padding: 20px 0 15px;
  letter-spacing: 3px;
}
.stories__text {
  line-height: 20px;
}
.our-story--left-lean:before {
  content: "from him";
}
.our-story--right-lean:after {
  content: "from her";
}

.our-story--left-lean:before,
.our-story--right-lean:after {
  left: 50%;
  margin-left: -58px;
}

.our-story--left-lean:before,
.our-story--right-lean:after {
  font-family: 'Oh_Samantha';
  border: 1px solid #353434;
  padding: 10px;
  position: absolute;
  font-size: 26px;
  top: -50px;
}

@media screen and (min-width: 769px) {
  .stories {
    padding: 0 25px 20px;
    margin-bottom: 50px;
  }
  .our-story--left-lean:before {
    left: 45px;
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  .our-story--right-lean:after {
    right: 15px;
    left: auto;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .our-story--left-lean:before,
  .our-story--right-lean:after {
    top: -20px;
  }
  .stories__header {
    font-size: 40px;
  }
  .stories__text {
    font-size: 20px;
  }
  .our-story--left-border {
    border-left: 1px solid black;
  }
}