<section class="wedding-party__group">
  <article class="wedding-party__bride">
    <figure class="wedding-party__headshot">
      <img src="/assets/images/{{ weddingParty[currentPartyCouple].brideSide.image }}" alt="{{ weddingParty[currentPartyCouple].brideSide.name }}" class="wedding-party__img">
    </figure>
    <figcaption class="wedding-party__member-info">
      <h2 class="wedding-party__name">{{ weddingParty[currentPartyCouple].brideSide.name }}</h2>
      <h3 class="wedding-party__position">{{ weddingParty[currentPartyCouple].brideSide.position }}</h3>
    </figcaption>
  </article>
  <article class="wedding-party__groom wedding-party__groom--left-border">
    <figure class="wedding-party__headshot">
      <img src="/assets/images/{{ weddingParty[currentPartyCouple].groomsSide.image }}" alt="{{ weddingParty[currentPartyCouple].groomsSide.name }}" class="wedding-party__img">
    </figure>
    <figcaption class="wedding-party__member-info">
      <h2 class="wedding-party__name">{{ weddingParty[currentPartyCouple].groomsSide.name }}</h2>
      <h3 class="wedding-party__position">{{ weddingParty[currentPartyCouple].groomsSide.position }}</h3>
    </figcaption>
  </article>
</section>
<div class="wedding-party__carousel-controls">
  <i (click)="showPreviousPartyCouple()" class="wedding-party__left-arrow fas fa-chevron-left"></i>
  <i (click)="showNextPartyCouple()" class="wedding-party__right-arrow fas fa-chevron-right"></i>
</div>