<section class="our-story">
  <app-our-story-divider></app-our-story-divider> 
  <article class="our-story__wrapper">
    <app-stories 
      header="How we met" 
      story="We met when we were 19-20 years old working part-time at Target. However, it wasn't until we both left Target when I made my move. I messaged Rachel on Facebook (April 20, 2015) to ask her how she was doing and catch-up. After messaging back and forth, I asked her to lunch at Panera Bread on May 25 and we began spending more time together. At Rachel's 27th birthday party in Westwood, I realized I had feelings for her and made my feelings known shortly after. We started dating exclusively on August 15. On January 2, 2016 I made it official by taking her to dinner in Marina Del Rey, and asked her to be my girlfriend." 
      modifier="our-story--left-lean"></app-stories>

    <app-stories 
      header="The Proposal" 
      story="On our last night in Paris, Trent convinced me to take one last walk on the streets of Paris. As we were walking by the river across from the Eiffel Tower, Trent stopped, turned to me, said loving things (that I'd like keep to myself), and nervously got down on one knee. Without letting him say a word, I enthusiastically jumped up and down knees to chest. We kissed and laughed, but then Trent realized and said &quot;You never answered me, &quot; to which I responded &quot;you didn't ask a question.&quot; He got back down on one knee, took out a box, and asked me,&quot; will you marry me?&quot;. It was just after midnight, June 26, 2018."
      modifier="our-story--right-lean our-story--left-border"></app-stories>
  </article>
</section>
