.divider {
  display: grid;
}

.divider__line {
  display: none;
}
.divider__text {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: black;
  color: white;
  width: 130px;
  padding: 23px 0 35px;
  margin: 0 auto 100px;
  letter-spacing: 2px;
  font-size: 37px;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .divider {
    box-sizing: border-box;
    grid-template-columns: 40% 20% 40%;
    max-width: 960px;
    padding: 0 15px 40px;
    margin: auto;
  }  
  .divider__line {
    display: block;
    height: 1px;
    background: black;
    align-self: center;
  }
  .divider__text {
    margin: auto;
  }
}