 <nav id="nav">
  <ul class="nav__list">
    <li class="nav__list-item">
      <a (click)="scrollSectionIntoView()" href="#aboutus">Our Story</a>
    </li>
    <li class="nav__list-item">
      <a (click)="scrollSectionIntoView()" href="#weddingdetails">Wedding Details</a>
    </li>
    <li class="nav__list-item">
      <a (click)="scrollSectionIntoView()" href="#weddingparty">Wedding Party</a>
    </li>
    <li class="nav__list-item">
      <a (click)="scrollSectionIntoView()" href="#registry">Registry</a>
    </li>
  </ul>
</nav>
